<h3>Sign Up</h3>
<br></br>
<form method="POST" action="/users/new">
  Email:<input type="text" name="email" required><br>
  Password:<input type="password" name="password" required><br>
  <input type="submit" name="Sign Up">
</form>
