<h4>Open a Support Ticket</h4>
<br>
<form method="POST" action="/tickets/new">
  Subject:<br>
  <input type="text" name="subject"><br><br>
  Issue:<br>
  <textarea name="body" rows="8" cols="80"></textarea><br>
  <input type="submit" value="Create Ticket">
</form>
