<%if @user.role == "admin" %>
  <h2>
    All Open Tickets:
  </h2>
  <% Tickets.all.each do |ticket| %>
    <h4><%=ticket.subject%></h4>
    <p><%=ticket.body%></p>
  <%end%>
<%elsif @user.role = "user" %>
  <h2>
    Your Open Tickets:
  </h2>
  <% Tickets.all.each do |ticket| %>
    <h4><%=ticket.subject%></h4>
    <p><%=ticket.body%></p>
  <%end%>
<%end%>
